body {
	background: black;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}
.postcard {
	width: 400px;
	height: 300px;
	margin: auto;
	background: white;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #e1dcdc;
	padding: 5px 10px;
}
